extends layout

block neck
	style(type='text/css').
		.grid-item { width: 25%; }
		.grid-item--width2 { width: 50%; }
	
	link(rel='stylesheet', href=static_url('css/book.css'))


block foot
	script(type='text/javascript').
		function decodeHTML(encoded){
			var elem = document.createElement('textarea');
			elem.innerHTML = encoded;
			var decoded = elem.value;
			return decoded
		}

	// Isotope
	script(type='text/javascript').
		var $grid = $('.grid').isotope({
			itemSelector: '.element-item',
			layoutMode: 'fitRows',
			getSortData: {
				name: '.name',
				symbol: '.symbol',
				number: '.number parseInt',
				category: '[data-category]',
				weight: function( itemElem ) {
					var weight = $( itemElem ).find('.weight').text();
					return parseFloat( weight.replace( /[\(\)]/g, '') );
				}
			}
		});
		// filter functions
		var filterFns = {
			// show if number is greater than 50
			numberGreaterThan50: function() {
				var number = $(this).find('.number').text();
				return parseInt( number, 10 ) > 50;
			},
			// show if name ends with -ium
			ium: function() {
				var name = $(this).find('.name').text();
				return name.match( /ium$/ );
			}
		};
		// bind filter button click
		$('#filters').on( 'click', 'button', function() {
			var filterValue = $( this ).attr('data-filter');
			// use filterFn if matches value
			filterValue = filterFns[ filterValue ] || filterValue;
			$grid.isotope({ filter: filterValue });
		});
		// bind sort button click
			$('#sorts').on( 'click', 'button', function() {
			var sortByValue = $(this).attr('data-sort-by');
			$grid.isotope({ sortBy: sortByValue });
		});
		// change is-checked class on buttons
		$('.button-group').each( function( i, buttonGroup ) {
			var $buttonGroup = $( buttonGroup );
			$buttonGroup.on( 'click', 'button', function() {
				$buttonGroup.find('.is-checked').removeClass('is-checked');
				$( this ).addClass('is-checked');
			});
		});

	script(type='text/javascript', src=static_url('js/book.js'))

block content	
	main.col-md-10.ml-sm-auto.pt-3(role='main')

		img.mx-auto.d-block.img-fluid(src='/static/img/library_1024x414.jpg')
		
		#filters.button-group
			button.button.is-checked(data-filter='*') show all
			button.button(data-filter='.metal') metal
			button.button(data-filter='.transition') transition
			button.button(data-filter='.alkali, .alkaline-earth') alkali and alkaline-earth
			button.button(data-filter=':not(.transition)') not transition
			button.button(data-filter='.metal:not(.transition)') metal but not transition
			button.button(data-filter='numberGreaterThan50') number > 50
			button.button(data-filter='ium') name ends with –ium

		#sorts.button-group
			button.button.is-checked(data-sort-by='original-order') original order
			button.button(data-sort-by='name') name
			button.button(data-sort-by='symbol') symbol
			button.button(data-sort-by='number') number
			button.button(data-sort-by='weight') weight
			button.button(data-sort-by='category') category
		
		hr
		
		.card
			.card-header
				nav(aria-label='Page navigation example')
					ul.pagination.justify-content-end
						li.page-item.disabled
							a.page-link(href='#', tabindex='-1') Previous
						li.page-item
							a.page-link(href='#') 1
						li.page-item
							a.page-link(href='#') 2
						li.page-item
							a.page-link(href='#') 3
						li.page-item
							a.page-link(href='#') Next
			.card-body
				fieldset(disabled='')
					.form-group.row
						label.col-sm-1.col-form-label(for='doc_author') Author
						.col-sm-2
							input.form-control(type='text',
								placeholder=doc_author, name='doc_author')
						
						label.col-sm-1.col-form-label(for='doc_title') Title
						.col-sm-2
							input.form-control(type='text',
								placeholder=doc_title, name='doc_title')
						
						label.col-sm-1.col-form-label(for='doc_numpages') Num. Pages
						.col-sm-2
							input.form-control(type='text',
								placeholder=doc_numpages, name='doc_numpages')
						
						label.col-sm-1.col-form-label(for='doc_date') Created
						.col-sm-2
							input.form-control(type='text',
								placeholder=doc_created, name='doc_created')
					

					.jumbotron.jumbotron-fluid.p-3
						p.lead
							| Do am he horrible distance marriage so although. Afraid assure square so happen mr an before. His many same been well can high that. Forfeited did law eagerness allowance improving assurance bed. Had saw put seven joy short first. Pronounce so enjoyment my resembled in forfeited sportsman. Which vexed did began son abode short may. Interested astonished he at cultivated or me. Nor brought one invited she produce her.
							| Yourself off its pleasant ecstatic now law. Ye their mirth seems of songs. Prospect out bed contempt separate. Her inquietude our shy yet sentiments collecting. Cottage fat beloved himself arrived old. Grave widow hours among him ﻿no you led. Power had these met least nor young. Yet match drift wrong his our.
							| Performed suspicion in certainty so frankness by attention pretended. Newspaper or in tolerably education enjoyment. Extremity excellent certainty discourse sincerity no he so resembled. Joy house worse arise total boy but. Elderly up chicken do at feeling is. Like seen drew no make fond at on rent. Behaviour extremely her explained situation yet september gentleman are who. Is thought or pointed hearing he.
							| Now eldest new tastes plenty mother called misery get. Longer excuse for county nor except met its things. Narrow enough sex moment desire are. Hold who what come that seen read age its. Contained or estimable earnestly so perceived. Imprudence he in sufficient cultivated. Delighted promotion improving acuteness an newspaper offending he. Misery in am secure theirs giving an. Design on longer thrown oppose am.
							| Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see. Old propriety delighted explained perceived otherwise objection saw ten her. Doubt merit sir the right these alone keeps. By sometimes intention smallness he northward. Consisted we otherwise arranging commanded discovery it explained. Does cold even song like two yet been. Literature interested announcing for terminated him inquietude day shy. Himself he fertile chicken perhaps waiting if highest no it. Continued promotion has consulted fat improving not way.

			
				.book-wrapper
					.book-container
						#book.book
							each elem in pages
								each page in elem
									.page
										img(src=page, alt='')
		
		hr
		
		.grid
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere
			.element-item.card.mt-2.mr-2(data-category='')
				.card-body
					h5.card-title Card title
					p.card-text
						| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere