extends layout

block neck
	link(rel='stylesheet', href=static_url("css/tweets.css"))

block foot
	script(type='text/javascript').
		table = $('#dynamic_table').DataTable( {
			"order": [[ 0, "desc" ], [ 1, 'asc' ]],
			"columnDefs": [
				{ "width": "15%"},
				{ targets: '_all', visible: true }
			]
		} );
	script(type='text/javascript', src=static_url('js/twitter.js'))

block content
	main.col-md-10.ml-sm-auto.h-100(role='main')
		#content
			table#dynamic_table.table.table-hover.table-responsive-lg.display(cellspacing='0', width='100%', max-width='100%', style='font-size: 80%;')
				thead.bg-secondary
					tr
						each colname in colnames
							th.text-light(scope="col") #{colname}
				tfoot
					tr
						each colname in colnames
							th.text-light(scope="col") #{colname}
				tbody
					each tweet in tweets
						tr
							each data in tweet
								td(style='width:1px;white-space:nowrap;')
									#{data}
										